/* Our CSS file. */

.container,
.content {
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  border: 1px solid black;
}
.logo {
  margin-right: 680px;
}
.search {
  margin-top: 80px;
}
nav {
  display: inline;
}
.navbar {
  border: 1px solid black;
}
nav li {
  display: inline;
  margin-right: 230px;
}
aside li {
  font-size: 20px;
  margin-bottom: 30px;
}
img {
  height: 196px;
  width: 270px;
}
.toprow {
  margin-bottom: 50px;
  margin-left: 20px;
  margin-top: 20px;
}
.bottomrow {
  margin-left: 20px;
  margin-top: 20px;
}
